body {

    font-family: 'Noto Serif TC', serif;
}

.list {
display: flex;
justify-content: center;
align-items: center;
}

.right-dates, .name, .left-dates {
    display: grid;
    list-style: none;

}

.name {
    font-size: 45px;
}

.right-dates, .left-dates {
    min-height: 8em;
    font-size: 30px;
}